{{#each wines as |wine|}}
  {{log wine}}
  <!-- {{> partial}}
  Don't uncomment yet -->

    <section class ="main-info" data-id="{{wine.id}}">
    <div class = "wine-info {{wine.id}}"
    <h1> <small>Title: {{wine.title}}</small></h1>
    {{#if wine.name}}
      {{wine.name}}
    {{else}}
      No name provided.
    {{/if}}
    <div data-id="{{wine.id}}"
  </div>
    <button class= "delete-button" data-id="{{wine.id}}">Remove</button>
    <!-- Button trigger modal -->
    <section class="wine-info" data-id="{{wine.id}}">
    <button type="button editwine-button" class="btn btn-primary changewinebutton" data-toggle="modal" data-target="#modal-{{wine.id}}">
      Edit Tasting
    </button>

    <!-- Modal -->
    <div data-backdrop="true" class="modal fade changewinehandlebars" tabindex="-1" role="dialog" aria-labelledby="changeWineModalCenterTitle1" aria-hidden="true" id="modal-{{wine.id}}">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Change this Tasting</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form class="changewineform2">
          <!-- Row for name -->
        <div class="form-group row">
          <div class="col-sm-10">
            <input type="text" class="form-control" name ="wine[name]" placeholder="name">
          </div>
        </div>
        <!-- Row for varietal -->
        <div class="form-group row">
          <div class="col-sm-10">
            <input type="text" class="form-control" name="wine[varietal]" placeholder="varietal">
          </div>
        </div>
        <!-- Row for country -->
        <div class="form-group row">
          <div class="col-sm-10">
            <input type="text" class="form-control" name="wine[country]" placeholder="country">
          </div>
        </div>
        <!-- Row for region -->
        <div class="form-group row">
          <div class="col-sm-10">
            <input type="text" class="form-control" name="wine[region]"placeholder="region">
          </div>
        </div>
        <!-- Row for vintage -->
        <div class="form-group row">
          <div class="col-sm-10">
            <input type="text" class="form-control" name="wine[vintage]" placeholder="vintage">
          </div>
        </div>
        <!-- Row for date -->
        <div class="form-group row">
          <div class="col-sm-10">
            <input type="text" class="form-control" name="wine[date]" placeholder="date">
          </div>
        </div>
        <!-- Row for abv -->
        <div class="form-group row">
          <div class="col-sm-10">
            <input type="text" class="form-control" name="wine[abv]" placeholder="abv">
          </div>
        </div>
        <!-- Row for rating -->
        <div class="form-group row">
          <div class="col-sm-10">
            <input type="text" class="form-control" name="wine[rating]" placeholder="rating">
          </div>
        </div>
        <!-- Row for notes -->
        <div class="form-group row">
          <div class="col-sm-10">
            <input type="text" class="form-control" name="wine[notes]" placeholder="notes">
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-10">
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="changewinebutton1" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </form>
    </div>
    </div>
    </div>
    </div>
  </section>
  </section>
</div>
{{/each}}
